@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green: #7BC74D;
    --black: #222831;
    --grayt: #393E46;
    --white: #EEEEEE;
}

html {
    scroll-behavior: smooth;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.londrina-solid-thin {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.londrina-solid-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-solid-black {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.zalando-sans-semiexpanded-p {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
    font-family: "Londrina", sans-serif;
}

p,
a,
span,
label,
input {
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-weight: 300;
}

li {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}